ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F9EA0;
  border: solid lightblue 1px;
}
@media screen and (min-width: 624px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}/*Jag skapade en media screen för att det är den pixelstorleken som används mest för telefoner*/
@media screen and (max-width: 624px) { ul{width: 80%}}
li {
  float: left;
}


li a:hover, .dropdown:hover, .dropdown-content:hover {
  background-color: lightblue;
}

.dropdown-content a{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #008B8B;}
